    body {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #040404;
    background: #fff;
    margin:0;
    position:absolute;

}



/* HEADER STYLES */
header {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background: #fff;
    height:85px;
    overflow: hidden;
    background-color:black;
    
}

header .logo{
    margin: 0 auto;
    overflow: hidden;
    float:left;
 
}

header .header-content h1 img{
    max-width: 160px;
    max-height: 145px;
    height:100%;
    width:100%;
    margin-top:10px;

}

.social-block{
    margin-left:0px;
    margin-top: 45px;
    display:block;
    float:right;
    
}

.social-block a{
    
    text-decoration:none;
    color:white;
  padding:0px 10px 0px 10px;
}
.social-block a:hover{
    
    text-decoration:none;
    color:#4faa39;
}

.header-content {
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden;
    
}


/*testing
nav{
    display: block;
    float: left;
    margin-top: 76px;
    color: white;
}
*/

nav  {

  margin: 0 auto;
  background: black;
  padding: 60px 0;
  box-shadow: 0px 5px 0px #dedede;
}

nav ul {
  list-style: none;
  text-align: center;
  
}
nav ul li {
  display: inline-block;
  
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #42cb17;
  text-decoration:none;
}


nav.stroke{
      display:inline-block;
  width: 58%;
  margin-top:-25px;
}

nav.stroke ul li a {
  position: relative;
  text-decoration:none;
}

nav.stroke ul li a {
  position: relative;
  text-decoration:none;
}


nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}





/*testing
header nav a{
    text-decoration:none;
    color:white;
}
header nav a:hover{
    text-decoration:none;
    color:#4faa39;
    
}

header ul{
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
}

header li{
        float: left;
    padding: 5px;
    
}
*/




/* CAROUSEL STUFF */
#carousel-example-generic{
   top: -55px;
}

.carousel-inner {
  max-height: 640px;
 
}

.carousel-control{
    bottom:-10px;
    
}

/* CAROUSEL STUFF */

/* Home intro  */

.home-intro{
    height:250px;
    margin-top:-55px;
}


.menu-left{
    text-align:center;
    display:block;
    margin-top:-55px;
    width:50%;
    float:left;
    border-right: 3px solid #bfc0c1;
}
.menu-right{
    text-align:center;
    display:block;
    margin-top:-55px;
    width:50%;
    float:right;
}

.card{
    display:block;
    height:200px;
    
}

.short {
    background: #bfc0c1;
    border: 0;
    height: 2px;
    width: 350px;
}

.long {
    background: #bfc0c1;
    border: 0;
    height: 2px;
    width: 400px;
}

h2 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 34px;
    margin: 10px 0;
    text-transform: uppercase;
}









@media only screen and (max-width: 880px) {

header nav.stroke{
    display:none;
    
}
}
/* MOBILE NAV TEST */
@media screen and (max-width: 880px){
.mobile-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 55px;
    background: #2c332b;
}
.mobile-nav .btn .text {
    color: #faf8f4;
    text-transform: uppercase;
}
.mobile-nav .btn {
    position: absolute;
    height: 100%;
    display: block;
    width: 25%;
    background: #2c332b;
    text-decoration: none;
    text-align: center;
    font-size: 9px;
    border-right: solid 1px gray;
    opacity: .7;
}

.mobile-nav .btn:hover {
    background: #2c332b;
    opacity: 1;

}

.mobile-nav .btn .btn-carte {
    left: 0;
}
.btn.btn-restaurant {
    left: 25%;
}
.mobile-nav .btn.btn-contact {
    left: 50%;
    border-right:none;
}
.mobile-nav .btn.btn-phone {
    left: 75%;
    background: #1f670d;
}
.mobile-nav .btn.btn-carte .btn-inside {
    padding-top: 7px;
}
.mobile-nav .btn .btn-inside {
    display: block;
    height: 100%;

}

.mobile-nav .btn.btn-phone  {
    border-right: none;
    padding-top:12px;
}
.mobile-nav .btn.btn-restaurant .btn-inside {
    padding-top: 7px;
}
.mobile-nav .btn.btn-contact .btn-inside {
    padding-top: 7px;
}

.mobile-nav .btn.btn-carte .icon {
    background-image: url(../img/wrap.png);
    width: 29px;
    height: 24px;
}
}